body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

.eat {
    color: green;
    background-color: rgb(9, 219, 135);
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 50vw;
}
.eatLetra {
    margin-top: 70px;
    margin-left: 90px;
}

.mainEatButton {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

img.iconoBoton {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 50px;
    size: 5px;
}




.play {
    color: rgb(237, 237, 7); 
    background-color: rgb(185, 212, 7);
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.mainPlayButton {
    display: flex;
    justify-content: right; 
    align-items: center;
    gap: 80px;
    margin-top: 10px;
    margin-right: 10px;
}

.fight {
    background-color: rgb(227, 8, 88);
    height: 50vh;
    width: 50vw;
}

.sleep {
    background-color: rgb(5, 167, 237);
    height: 50vh;
    width: 50vw;
}

#barraProg {
    display: flex;
    flex-direction: column;

}

progress {
    width: 600px;
    height: 40px;
    accent-color: rgb(0, 0, 0);
    border: 5px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.eatLabel {
    color: black;
    padding: 5px;
    margin-left: 25px;
    

}
.botones {
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#barraPlay {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.playLabel {
    color:black;
    padding: 5px;
    margin-left: 25px;
}
.playLetra {
    margin-top: 70px;
    margin-right: 90px;
}

.fightLabel {
    display: flex;
    flex-direction: right;
}

.mainFightButton {
    display: flex;
    gap: 80px;
}