body {
    background-color: black;
    color: white;
    display: grid;
    place-items: center;
    margin: 0;
    height: 100vh;
}

.container {
    display: grid;
    place-items: center;
}

#bombilla {
    width: 360px;
    padding: 10px;
}

#boton {
    width: 100px;
    padding: 10px;
}
#controlBrillo {
    display: none;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
#controlBrillo.mostrar{
    display: block;
    opacity: 1;
}
#brillo {
    width: 200px;
    cursor: pointer;
}